click==8.1.5
commonmark==0.9.1
contourpy==1.1.0
cycler==0.11.0
fonttools==4.41.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
numpy==1.25.1
packaging==23.1
Pillow==10.0.0
platformdirs==2.6.2
pluggy==1.2.0
Pygments==2.15.1
pyparsing==3.0.9
pyscript==0.2.5
python-dateutil==2.8.2
rich==12.6.0
rich-click==1.6.1
six==1.16.0
toml==0.10.2
typer==0.4.2
